{% extends "base.twig" %}
{% set active_page = "" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1 class="page-header">New submission</h1>

  <div>
    <ol class="breadcrumb">
      <li><a href="{{ app.url_generator.generate('admin_dashboard') }}">Home</a></li>
      <li><a href="{{ app.url_generator.generate('author_submissions') }}">Submissions</a></li>
      <li class="active">New submission</li>
    </ol>

  </div>

  <div>
    <ol class="breadcrumb">
      <li><a href="{{ app.url_generator.generate('admin_dashboard') }}">Home</a></li>
      <li><a href="{{ app.url_generator.generate('author_submissions') }}">Submissions</a></li>
      <li><a href="{{ app.url_generator.generate('author_new_submission') }}">New submission</a></li>
      <li class="active">Step 1: Upload files</li>
    </ol>

    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="33"
      aria-valuemin="0" aria-valuemax="100" style="width:33%">
      Step 1/3
      </div>
    </div>

    <button class="btn btn-default" type="submit">Next step</button>
    <button class="btn btn-default" type="submit">Cancel</button>

  </div>

  <div>
    <ol class="breadcrumb">
      <li><a href="{{ app.url_generator.generate('admin_dashboard') }}">Home</a></li>
      <li><a href="{{ app.url_generator.generate('author_submissions') }}">Submissions</a></li>
      <li><a href="{{ app.url_generator.generate('author_submissions') }}">New submission</a></li>
      <li class="active">Step 2: Metadata</li>
    </ol>

    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="66"
      aria-valuemin="0" aria-valuemax="100" style="width:66%">
      Step 2/3
      </div>
    </div>

    <button class="btn btn-default" type="submit">Next step</button>
    <button class="btn btn-default" type="submit">Previous step</button>
    <button class="btn btn-default" type="submit">Cancel</button>

  </div>

  <div>
    <ol class="breadcrumb">
      <li><a href="{{ app.url_generator.generate('admin_dashboard') }}">Home</a></li>
      <li><a href="{{ app.url_generator.generate('author_submissions') }}">Submissions</a></li>
      <li><a href="{{ app.url_generator.generate('author_submissions') }}">New submission</a></li>
      <li class="active">Step 3: Confirmation</li>
    </ol>

    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100" style="width:100%">
      Step 3/3
      </div>
    </div>

    <div>
      <td width="80%" class="value"><textarea name="commentsToEditor" id="commentsToEditor" rows="3" cols="40" class="textArea"></textarea></td>
    </div>

    <button class="btn btn-default" type="submit">Finish submission</button>
    <button class="btn btn-default" type="submit">Previous step</button>
    <button class="btn btn-default" type="submit">Cancel </button>

  </div>

{% endblock %}