{% extends "base.twig" %}
{% set active_page = "editor_unassigned" %}

{% block title %}Unassigned submissions{% endblock %}

{% block content %}
  <h1 class="page-header">Unassigned submissions</h1>
   <ol class="breadcrumb">
    <li><a href="{{ app.url_generator.generate('editor_dashboard') }}">Home</a></li>
    <li class="active">Unassigned</li>
  </ol>

<div class="panel panel-default">
  <!-- Default panel contents -->

  <!-- Table -->
  <table class="table">

    <thead>
    	<tr>
    		<th> Author </th>
    		<th> Title </th>
    		<th> Section </th>
    		<th> Submission date </th>
    		<th> Assign reviewer </th>
    	</tr>
    </thead>

    <tr>
    	<td> <a href="https://www.facebook.com/samuelrz">Rondeau, S</a> </td>
    	<td> <a href="http://vignette4.wikia.nocookie.net/theamazingworldofgumball/images/f/f9/Famous-characters-Troll-face-Troll-face-poker-45046.png/revision/latest?cb=20130701113425">The Physics of Stein;Gate</a> </td>
    	<td> SCI </td>
    	<td> 02-25 </td>
    	<td> <a class="btn btn-primary" href="{{ app.url_generator.generate('editor_assign') }}" role="button">
    		<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a> </td>
    </tr>

    <tr>
    	<td> Interfacenn </td>
    	<td> Cookbook </td>
    	<td> ART </td>
    	<td> 02-25 </td>
    	<td> <a class="btn btn-primary" href="{{ app.url_generator.generate('editor_assign') }}" role="button">
    		<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a> </td>
    </tr>

    <tr>
    	<td> Interfacenn </td>
    	<td> Cookbook </td>
    	<td> ART </td>
    	<td> 02-25 </td>
    	<td> <a class="btn btn-primary" href="{{ app.url_generator.generate('editor_assign') }}" role="button">
    		<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a> </td>
    </tr>

    <tr>
    	<td> Interfacenn </td>
    	<td> Cookbook </td>
    	<td> ART </td>
    	<td> 02-25 </td>
    	<td> <a class="btn btn-primary" href="{{ app.url_generator.generate('editor_assign') }}" role="button">
    		<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a> </td>
    </tr>

  </table>
</div>

{% endblock %}